<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="https://i.pinimg.com/736x/85/9e/03/859e0396b1c628832ba6b7c47c4a95b5.jpg">
    <title>JeuxPoekmon</title>
</head>
<body>
    <div class="falling-container"></div>

    <nav class="nav-barre">
        <h1>Pokecollecte</h1>
        <div class="menu">
            <button class="jeux" type="button">Menu dresseur ▼</button>
            <div class="menu-content">
                <a href="/inscription">Inscription</a>
                <a href="/connexion">Connexion</a>
                <a href="/deconnexion">Déconnexion</a>
                {{ if .Check.Check_connexion }}
                    <a href="/showcollection">Ma Collection</a>
                {{ end }}
            </div>
        </div>
        </nav> 

    {{ if not .Check.Check_openbooster }}

        <img class="carte"src="https://oupi.eu/21460-large_default/pack-3-booster-dimoret-flammes-fantasmagoriques-me02-pokemon.jpg">

        {{ if .Check.Check_connexion }}
            <form action="/showbooster" method="post">
                <button class ="buton">ouvrir</button>
            </form>
        {{ end }}
        
        <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/151.png">

    {{ end }}
    
    {{ if .Check.Check_openbooster }}
        {{ template "showbooster" . }}
        
        <form action="/redirectbooster" method="post">
            <button class ="buton">Continuer</button>
        </form>
    {{ end }}    
    
    <script>
        function createBall() {
            const container = document.querySelector('.falling-container');
            
            if(!container) return; 

            const ball = document.createElement('img');
            ball.className = 'falling-item';
            
            ball.src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png";
            
            ball.style.left = Math.random() * 100 + "vw";
            ball.style.animationDuration = (Math.random() * 3 + 2) + "s";
            ball.style.width = "40px";
            container.appendChild(ball);

            setTimeout(() => { ball.remove(); }, 5000);
        }

        setInterval(createBall, 600);
    </script>
</body>
</html>