<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="https://i.pinimg.com/736x/85/9e/03/859e0396b1c628832ba6b7c47c4a95b5.jpg">

    <title>JeuxPoekmon</title>
</head>
<body>
    <body>
    <div class="falling-container"></div>

    <nav class="nav-barre">
        <h1>Pokecollecte</h1>
        <div class="menu">
            <button class="jeux" type="button">Menu dresseur ▼</button>
            <div class="menu-content">
                <a href="/collection">Ma Collection</a>
                <a href="/inscription">Inscription</a>
                <a href="/connexion">Connexion</a>
                <a href="/deconnexion">Déconnexion</a>
                <a href="/retour">Retour</a>
            </div>
        </div>
    </nav> 

    <form action="/submit_connexion" method="post">
        <label>Pseudo</label>
        <input type="text" name="pseudo"><br>

        <label>Mot de passe</label>
        <input type="text" name="mdp"><br>

        <button type="submit">Envoyer</button>
    </form>

    <span>
    {{ if .Check_pseudo }}
        Utilisateur incorrect ou non inscrit
    {{ end }}
    </span><br>

    <span>
    {{ if .Check_mdp }}
        Mot de passe incorrect
    {{ end }}
    </span>
</body>
</html>